<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- 메인 슬라이드
1. 이벤트 샘플 이미지 필요
2. 이미지 CSS로 톤다운(이미지가 너무 밝을 경우 글자나 슬라이드 버튼 안보임)
3. 이벤트 클릭시 프로모션 페이지 디자인 필요
4. 상단 와우투어 로고 삽입(슬라이드 이미지와 겹쳐보이게..)
-->
<ion-content padding-bottom class="home common-bg nanum">
  <div>
    <ion-slides pager>
      <ion-slide *ngFor="let slide of slides" (click)="viewMainSlide(slide.id)">
        <img [src]="slide.image" class="slide-image"/>    
      </ion-slide>
    </ion-slides>
    <div class="clear"></div>
  </div>

<!-- 상품(특산품) 안내
1. 한글 폰트 지정
2. 폰트 색상 지정
3. 이미지 및 폰트 정렬
-->
  <div (click)="viewProduct()" style="margin-top: 7px">
    <div class="product-left" >
            <ion-icon name="cart" color=""></ion-icon>
            <span color=""><strong> 와우투어 전용 쇼핑몰에서 강원도 특산품을 특가에 구매</strong></span>
    </div>
    <div class="product-right">
            <ion-icon name="open-outline" color=""></ion-icon>
          </div>
    <div class="clear"></div>
  </div>

<!--
  <div class="header rlt">
    <div class="align-bottom" padding>
      <div class="pull-left">
        <h2 color="white">
          <ion-icon name="ios-navigate-outline"></ion-icon>
          씨마크 호텔
        </h2>
        <span color="light">
        <strong>강릉 시내 인기 지역에 5성급 호텔 할인 이벤트</strong>
      </span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  -->
    
  <!-- 커피여행 리스트
1. 한글 폰트 지정
2. 폰트 색상 지정
3. 이미지 및 폰트 정렬
4. 제목은 두줄까지 표현(현재 글자가 자동으로 안내려가고 짤림)
5. 두줄이 넘어갈 경우 말줄임 표시로 표현
  -->
  <div class="block">
    <div class="card-background-page" (click)="viewAllCoffie()">
        <ion-card>
          <img src="assets/img/coffie.jpg"/>
          <div class="card-title">강릉 커피여행</div>
          <div class="card-subtitle">22개의 상품</div>
      </ion-card> 
    </div>

    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="color-fill" color="restaurant-color"></ion-icon>
        <span color="restaurant-color"><strong>커피여행 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="restaurant-color" (click)="viewAllCoffie()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let restaurant of restaurants" (click)="viewRestaurant(restaurant.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ restaurant.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(restaurant.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)"></ion-icon>
            <span color="gray">  후기 {{ restaurant.reviews.length }}</span>
          </div>
          <span color="gray">{{ restaurant.cost }}</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 사천 로드
1. 이미지 CSS로 톤다운(이미지가 너무 밝을 경우 글자나 슬라이드 버튼 안보임)
1. 한글 폰트 지정
2. 폰트 색상 지정
3. 이미지 및 폰트 정렬
-->
  <div class="block">
      <div class="card-background-page"  (click)="viewAllHotels()">
        <ion-card>
          <img src="assets/img/sachun.jpg"/>
          <div class="card-title">사천로드</div>
          <div class="card-subtitle">31개의 상품</div>
      </ion-card>
      <div>
              <div class="clear"></div>
      </div>
    </div>
    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="bus" color="hotel-color"></ion-icon>
        <span color="hotel-color"><strong>사천로드 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="hotel-color" (click)="viewAllHotels()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let hotel of hotels" (click)="viewHotel(hotel.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + hotel.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ hotel.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="hotel-color" *ngFor="let star of range(hotel.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - hotel.rating)"></ion-icon>
            <span color="gray"> 후기 {{ hotel.reviews.length }}</span>
          </div>
          <span color="gray">{{ hotel.cost }}</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 자전거 여행
1. 이미지 CSS로 톤다운(이미지가 너무 밝을 경우 글자나 슬라이드 버튼 안보임)
1. 한글 폰트 지정
2. 폰트 색상 지정
3. 이미지 및 폰트 정렬
-->
    <div class="block">
      <div class="card-background-page"  (click)="viewAllAttractions()">
        <ion-card>
          <img src="assets/img/bicycle.jpg"/>
          <div class="card-title">자전거여행</div>
          <div class="card-subtitle">12개의 상품</div>
      </ion-card>
      <div>
              <div class="clear"></div>
      </div>
    </div>
    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="bicycle" color="attraction-color"></ion-icon>
        <span color="attraction-color"><strong>자전거여행 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="attraction-color" (click)="viewAllAttractions()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let attraction of attractions" (click)="viewAttraction(attraction.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + attraction.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ attraction.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="attraction-color" *ngFor="let star of range(attraction.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - attraction.rating)"></ion-icon>
            <span color="gray">  후기 {{ attraction.reviews.length }}</span>
          </div>
          <span color="gray">{{ attraction.cost }}</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- 해외여행
  -->
  <div class="block">
    <div class="card-background-page" (click)="viewAllOversea()">
        <ion-card>
          <img src="assets/img/oversea.jpg"/>
          <div class="card-title">해외여행</div>
          <div class="card-subtitle">20개의 상품</div>
      </ion-card> 
    </div>

    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="jet" color="restaurant-color"></ion-icon>
        <span color="restaurant-color"><strong>해외여행 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="restaurant-color" (click)="viewAllOversea()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let oversea of overseas" (click)="viewOversea(oversea.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + oversea.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ oversea.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(oversea.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - oversea.rating)"></ion-icon>
            <span color="gray">  후기 {{ oversea.reviews.length }}</span>
          </div>
          <span color="gray">{{ oversea.cost }}</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 레저
-->
  <div class="block">
      <div class="card-background-page"  (click)="viewAllCoffie()">
        <ion-card>
          <img src="assets/img/activity.jpg"/>
          <div class="card-title">레저</div>
          <div class="card-subtitle">5개의 상품</div>
      </ion-card>
      <div>
              <div class="clear"></div>
      </div>
    </div>
    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="boat" color="hotel-color"></ion-icon>
        <span color="hotel-color"><strong>레저여행 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="hotel-color" (click)="viewAllCoffie()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let restaurant of restaurants" (click)="viewRestaurant(restaurant.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ restaurant.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="hotel-color" *ngFor="let star of range(restaurant.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)"></ion-icon>
            <span color="gray">{{ restaurant.reviews.length }} reviews</span>
          </div>
          <span color="gray">￦ 57,000</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 힐링
-->
    <div class="block">
      <div class="card-background-page"  (click)="viewAllCoffie()">
        <ion-card>
          <img src="assets/img/healing.jpg"/>
          <div class="card-title">힐링</div>
          <div class="card-subtitle">8개의 상품</div>
      </ion-card>
      <div>
              <div class="clear"></div>
      </div>
    </div>
    <div class="block-title" padding-left padding-right style="margin-top: 7px">
      <div class="pull-left">
        <ion-icon name="leaf" color="attraction-color"></ion-icon>
        <span color="attraction-color"><strong>힐링여행 추천</strong></span>
      </div>
      <div class="pull-right" style="margin-top: 3px">
        <span color="attraction-color" (click)="viewAllCoffie()">더 보기 &gt;</span>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="items" padding-left padding-bottom>
      <div class="card round" *ngFor="let restaurant of restaurants" (click)="viewRestaurant(restaurant.id)">
        <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}"></div>
        <div class="padding-xs">
          <h5>{{ restaurant.name }}</h5>
          <div class="rating">
            <ion-icon name="md-star" color="attraction-color" *ngFor="let star of range(restaurant.rating)"></ion-icon>
            <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)"></ion-icon>
            <span color="gray">{{ restaurant.reviews.length }} reviews</span>
          </div>
          <span color="gray">￦ 57,000</span>
          <div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--float search bar
  <div class="float-search" padding>
    <ion-input class="card round" placeholder="Search"></ion-input>
    <button ion-button menuToggle color="white" item-left>
      <ion-icon name="ios-menu" color="primary"></ion-icon>
    </button>
  </div>
-->
</ion-content>
