page-home,
.home {
   #header-top{position:fixed; z-index:99; width:100%;margin-top:20px;}
   #header-top .logo{width:145px; margin-left:auto; margin-right:auto;}
   #header-top .heart{position:absolute;right:15px;width:38px;}

  .scroll-content {
    padding-bottom: 5rem;
    margin-top:0px;
  }
  

  .btn-menu{position:absolute;top:15px;left:15px;}

  .nanum{
    font-family: "나눔고딕";
  }

  .product-left{
    float: left;
    padding-left: 10px;
    width:93%;
  }

  .product-right{
  float: right;
  padding-right: 10px;
  margin: 1px 0px 0px 0px;
  }

  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    background:#000;
  }

  ion-card img{opacity: 0.8;}


  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

  .float-search {
    position: fixed;
    width: 100%;
    left: 0;
    top: 1rem;

    button {
      position: absolute;
      margin: 0.4rem 0.2rem;
      left: 1.4rem;
      top: 1.2rem;
      height: 2.4em;
      box-shadow: none;

      &.activated {
        background: none;
      }
    }

     ion-input {
      padding-left: 5rem;
    }
  }

  .header {
    height: 40%;
    background: url('../assets/img/home_header.jpg');
    background-size: 100% auto;
  }

   .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0px 0;
  } 

    .slide-zoom {
    width: 100%;
    height: 100%;
  }

.swiper-pagination-bullet {
  background: red;
}

  // list of items
  .block-title {
    line-height: 2rem;

    ion-icon {
      font-size: 2rem;
    }
  }

  .items {
    overflow-x: auto;
    white-space: nowrap;

    .card {
      overflow: hidden;
      width: 25rem;
      display: inline-block;
      margin-right: 1.6rem;

      .card-header {
        width: 100%;
        height: 12rem;
        background-size: 100% auto;
      }

      span[gray] {
        font-size: 1.2rem;
      }

      .pull-left {
        max-width: 18rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: color($colors, restaurant-color);
      }
    }
  }
}

.card-ios {
  margin: 12px 0px 0px 0px;
  width: calc(100% - 0px);
}

.md {
  .home {

    .float-search {

      button {
        top: 1.6rem;
      }

      ion-input {
        padding-left: 4rem;
      }
    }

    .tab-button-text {
      margin-top: 0;
    }
  }
}
